.moviescard__button-add {
   background: url(../../images/08_moviesCard/save_button.svg) center no-repeat;
   width: 72px;
   height: 21px;
   border: 0;
   border-radius: 30px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.moviescard__button-add:hover {
   opacity: 0.8;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}