.moviescard__duration {
   padding: 4px 9px;
   margin: 0;
   background-color: #2f2f2f;
   font-family: 'Inter';
   font-style: normal;
   font-size: 11px;
   font-weight: 400;
   line-height: 0.9;
   border-radius: 3px;
   color: #8b8b8b;
}