.mobilemenu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.3);
   justify-content: flex-end;
   align-items: center;
   display: flex;
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
   .mobilemenu.open {
      visibility: visible;
      opacity: 1;
      z-index: 3;
   }
}