.mobilemenu__button-close {
   position: absolute;
   top: 27px;
   right: 27px;
   width: 22px;
   height: 22px;
   background: url(../../images/01_header/close_s.svg) center no-repeat;
   border: 0;
   outline: none;
   z-index: 4;
   cursor: pointer;
   transition: opacity 0.3s ease-in-out;
}

.mobilemenu__button-close:hover {
   opacity: 0.7;
}

@media screen and (max-width: 320px) {
   .mobilemenu__button-close {
      top: 18px;
      right: 18px;
   }
}