.portfolio__name {
   padding: 0;
   margin: 0;
   font-family: 'Inter';
   font-style: normal;
   font-size: 30px;
   font-weight: 400;
   line-height: 1.67;
   letter-spacing: -1.2px;
}

@media screen and (max-width: 768px) {
   .portfolio__name {
      font-size: 28px;
      line-height: 1.78;
      letter-spacing: -1.12px;
   }
}

@media screen and (max-width: 550px) {
   .portfolio__name {
      font-size: 24px;
   }
}

@media screen and (max-width: 390px) {
   .portfolio__name {
      font-size: 18px;
      line-height: 1.55;
      letter-spacing: -0.72px;
   }
}