.promo {
   background-color: #272727;
   border-radius: 10px;
   min-height: 493px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   margin: 22px 40px 0;
   text-align: center;
}

@media screen and (max-width: 768px) {
   .promo {
      min-height: 837px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 15px;
   }
}

@media screen and (max-width: 320px) {
   .promo {
      min-height: 586px;
      margin-left: 14px;
      margin-right: 14px;
      margin-top: 11px;
   }
}