.promo__title {
   margin: 0;
   padding: 0;
   font-family: 'Inter';
   font-style: normal;
   font-size: 50px;
   font-weight: 400;
   line-height: 1.16;
   letter-spacing: -2px;
   max-width: 730px;
}


@media screen and (max-width: 768px) {
   .promo__title {
      font-size: 40px;
      line-height: 1.3;
      letter-spacing: -1.6px;
      max-width: 680px;
   }
}

@media screen and (max-width: 550px) {
   .promo__title {
      font-size: 32px;
   }
}

@media screen and (max-width: 320px) {
   .promo__title {
      font-size: 29px;
      line-height: 1.27;
      letter-spacing: -1.16px;
   }
}