.pagenotfound__title {
   padding: 0 0 9px 0;
   margin: 0;
   font-family: 'Inter';
   font-style: normal;
   font-size: 140px;
   font-weight: 400;
}

@media screen and (max-width: 350px) {
   .pagenotfound__title {
      font-size: 80px;
      padding-bottom: 13px;
   }
}