.pagenotfound__text {
   padding: 0;
   margin: 0;
   font-family: 'Inter';
   font-style: normal;
   font-size: 16px;
   font-weight: 400;
}

@media screen and (max-width: 350px) {
   .pagenotfound__text {
      font-size: 12px;
   }
}