.nav__link {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
   color: #fff;
   text-decoration: none;
   transition: opacity 0.3s ease-in-out;
}

.nav__link:hover {
   opacity: 0.7;
}

.active {
   font-weight: 500;
}

@media screen and (max-width: 768px) {
   .nav__link {
      font-size: 18px;
      font-weight: 500;
      position: relative;
   }

   .nav__link:after {
      content: "";
      left: 0;
      top: 23px;
      width: 100%;
      height: 2px;
      display: block;
      background-color: #fff;
      position: absolute;
      opacity: 0;
   }

   .active.nav__link:after {
      opacity: 1;
   }
}

@media screen and (max-width: 520px) {
   .nav__link:after {
      top: 26px;
   }
}