.nav__button-list {
   display: flex;
   padding: 0;
   align-items: center;
   text-decoration: none;
   list-style: none;
   margin: 0;
}

@media screen and (max-width: 768px) {
   .nav__button-list {
      position: absolute;
      right: -520px;
      visibility: hidden;
      top: 0;
      width: 520px;
      height: calc(100vh - 159px);
      background-color: #202020;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 69px 0 90px 0;
      gap: 28px;
      z-index: 2;
   }

   .navigation.open .nav__button-list {
      visibility: visible;
      transform: translateX(-100%);
   }
}

@media screen and (max-width: 520px) {
   .nav__button-list {
      right: -100%;
      width: 100%;
      height: calc(780px - 159px);
      padding-top: 113px;
   }
}