.nav__list {
   display: flex;
   padding: 0 0 0 62px;
   gap: 16px;
   text-decoration: none;
   list-style: none;
   margin: 0;
}

@media screen and (max-width: 768px) {
   .nav__list {
      position: absolute;
      right: -520px;
      visibility: hidden;
      top: 0;
      width: 520px;
      height: calc(300px - 162px);
      background-color: #202020;
      flex-direction: column;
      align-items: center;
      padding: 162px 0 0 0;
      gap: 32px;
      z-index: 3;
   }

   .navigation.open .nav__list {
      visibility: visible;
      transform: translateX(-100%);
   }
}

@media screen and (max-width: 520px) {
   .nav__list {
      width: 100%;
      right: -100%;
      padding-top: 147px;
      height: calc(300px - 147px);
      gap: 28px;
   }
}