.navigation__burger {
   position: relative;
   width: 44px;
   height: 44px;
   background: url(../../images/01_header/burger.svg) center no-repeat;
   border: 0;
   outline: none;
   display: none;
   z-index: 4;
   cursor: pointer;
   transition: opacity 0.3s ease-in-out;
}

.navigation__burger:hover {
   opacity: 0.8;
}

@media screen and (max-width: 768px) {
   .navigation__burger {
      display: block;
      z-index: 1;
   }
}

@media screen and (max-width: 320px) {
   .navigation__burger {
      width: 40px;
      height: 43px;
      background: url(../../images/01_header/burger_s.svg) center no-repeat;
   }

}