.searchform {
   padding: 83px 0 40px;
   margin: 0 37px 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 28px;
   border-bottom: 1px solid #424242;
}

@media screen and (max-width: 768px) {
   .searchform {
      margin-left: 30px;
      margin-right: 30px;
      padding-top: 76px;
      gap: 40px;
   }
}

@media screen and (max-width: 320px) {
   .searchform {
      margin-left: 14px;
      margin-right: 14px;
      padding-top: 75px;
      gap: 45px;
   }
}