.infotooltip__close {
   background-color: transparent;
   padding: 0;
   border: none;
   background: url(../../images/01_header/close.svg) center no-repeat;
   background-size: cover;
   position: absolute;
   top: 16px;
   right: 16px;
   width: 32px;
   height: 32px;
   z-index: 1;
   cursor: pointer;
   transition: opacity .3s ease-in-out;
}

.infotooltip__close:hover {
   opacity: 0.8;
}

@media screen and (max-width: 450px) {
   .infotooltip__close {
      width: 20px;
      height: 20px;
   }
}