.aboutproject__text {
   padding: 0;
   margin: 0;
   font-family: 'Inter';
   font-style: normal;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
}

@media screen and (max-width: 768px) {
   .aboutproject__text {
      font-size: 12px;
      line-height: 1.5;
   }
}

@media screen and (max-width: 320px) {
   .aboutproject__text {
      font-size: 11px;
      line-height: 1.45;
   }
}