.register__title {
    padding: 0;
    margin: 42px 0 43px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 350px) {
    .register__title {
        margin-top: 51px;
        margin-bottom: 81px;
    }
}