.register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 396px;
    height: 100vh;
}

@media screen and (max-width: 450px) {
    .register {
        width: 320px;
    }
}

@media screen and (max-width: 350px) {
    .register {
        width: 260px;
        align-items: center;
        justify-content: flex-start;
        padding-top: 56px;
        height: calc(100vh - 56px);
    }
}