.footer__link {
   text-decoration: none;
   padding: 0;
   margin: 0;
   font-family: 'Inter';
   font-style: normal;
   font-size: 13px;
   font-weight: 400;
   color: #fff;
   transition: opacity 0.3s ease-in-out;
}

.footer__link:hover {
   opacity: 0.7;
}

@media screen and (max-width: 320px) {
   .footer__link {
      font-size: 12px;
   }
}