.footer {
   padding: 47px 70px 20px;
}

@media screen and (max-width: 768px) {
   .footer {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 45px;
   }
}

@media screen and (max-width: 550px) {
   .footer {
      padding-left: 10px;
      padding-right: 10px;
   }
}