.techs__text {
   padding: 0;
   margin: 0;
   max-width: 460px;
   text-align: center;
   font-family: 'Inter';
   font-style: normal;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.42;
   letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
   .techs__text {
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -0.48px;
   }
}

@media screen and (max-width: 320px) {
   .techs__text {
      font-size: 11px;
      line-height: 1.45;
      letter-spacing: -0.44px;
   }
}