.techs__title {
   padding: 0;
   margin: 0 0 26px 0;
   font-family: 'Inter';
   font-style: normal;
   font-size: 50px;
   font-weight: 400;
   line-height: 1.16;
   letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
   .techs__title {
      margin-bottom: 22px;
   }
}

@media screen and (max-width: 420px) {
   .techs__title {
      font-size: 30px;
      margin-bottom: 25px;
      letter-spacing: -1.2px;
   }
}